---js
{
  layout: "layouts/project.njk",
  pagination: {
  data : "notion.posts",
  size : 1,
  alias : "project",
  addAllPagesToCollections: true,
  before: function(paginationData, fullData) { return paginationData.filter(page => Object.values(page.properties.Tags.multi_select[0]).includes("project")) }
  },
  permalink: "project/{{ project.custom_slug | slug }}/index.html",
  eleventyComputed: {
  title: "{{ project.title }}",
  notion_data: "{{ project.notion_metadata}}"},
  tags: ['project']
}
---
{% from 'macros/paragraph.njk' import paragraph %}
{% from 'macros/image.njk' import image %}
{% from 'macros/video.njk' import video %}
{% from 'macros/headings.njk' import heading %}
{% from 'macros/list.njk' import list %}
{% from 'macros/blockquote.njk' import blockquote %}
<div class="notion-text">
{%- for block in project.content -%}
  {%  if block.type == 'paragraph'  %}
    {{ paragraph(block) }}
  {% endif %}
{%- endfor -%}
</div>
<div class="notion-media">
{%- for block in project.content -%}
  {%  if block.type == 'image'  %}
    {{ image(block) }}
  {% endif %}
  {%  if block.type == 'video'  %}
    {{ video(block) }}
  {% endif %}
  {%  if 'heading' in block.type  %}
    {{ heading(block) }}
  {% endif %}
  {%  if block.type == 'quote'  %}
    {{ blockquote(block) }}
  {% endif %}
  {%  if 'list_item' in block.type  %}
    {{ list(block) }}
  {% endif %}
{%- endfor -%}
</div>

