---
title: Storymaker World
layout: layouts/home.njk
description: A multimedia story project about the image of Africa, the roles we play in the narrative, and the spaces in-between.
image: /img/social/banner.jpg
date: Last Modified
---

<section class="welcome">
  <div class=welcome-inside">
    <h1>Storymaker World</h1>
    <p><b>Storymaker World</b> is a project with many faces. It occupies a little-explored border between academic
      disciplines and is, consequently, somewhat of a chimaera thing—part literary studies and part games, part creative
      economies, part postcolonial studies. This exhibition is the creative practice section of that research. Here, you
      will find an interactive journey through an alternate history Africa through different mediums, discussions of
      additional projects, sketchbook material, small games and more.</p>
    <div class="buttons">
      <a href="/story">
        <button>Exhibition</button>
      </a>
      <a href="/projects">
        <button>Supporting Projects</button>
      </a>
{#      <a href="/posts">#}
{#        <button>Posts</button>#}
{#      </a>#}
      <a href="/about">
        <button>About the Author</button>
      </a>
    </div>
  </div>
</section>
