---
layout: layouts/base_fullWidth.njk
templateClass: tmpl-post
---
<div class="project">
  <div class="gridcontainer">
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </div>
</div>
<div class="project buttons">
  <a href="/story">
    <button>Journey</button>
  </a>
  <a href="/projects">
    <button>Projects</button>
  </a>
  <a href="/posts">
    <button>Posts</button>
  </a>
  <a href="/about">
    <button>About the Author</button>
  </a>
</div>



